---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}
    
      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        <div class="page__inner-wrap">
          <section class="page__content" itemprop="text">
            {{ content }}
          </section>
        </div>
        <div>
          <h1>🗺️ Maps</h1>
          <script type="text/javascript" id="mapmyvisitors" src="//mapmyvisitors.com/map.js?d=zsuELgS8w8kYR-AVxqTSEcmznNcvFcob9wjMPaU7PIg&cl=ffffff&w=a"></script>
        </div>
      </article>
    </div>

    {% include scripts.html %}

  </body>
</html>
