---
layout: default
---

<article class="resume active" data-page="resume">
    <section class="timeline">
        <div class="title-wrapper">
        <div class="icon-box">
            <ion-icon name="star"></ion-icon>
        </div>
        <h3 class="h3">Top-tier Conferences and Journal articles</h3>
        </div>
        <ol class="timeline-list">
            {% bibliography --file toptier %}
        </ol>
    </section>
    
    <span style="color:white">A complete list may be found at <a href="/publications.html">publications</a>.</span>
</article>



